</main>
<footer>

    <div id="logged-in-as">
        Logged in as: <span id="user-logged-in"><%= user.name %></span>
    </div>

    <div id="copyright">
        a <a href="https://johnhansen.io/" alt="johnhansen.io" target="_blank">John Hansen</a> creation © <%= new Date().getFullYear() %>
    </div>

    <div id="user-options">
        <a href="/logout">Logout</a>
    </div>

</footer>
</body>
</html>