<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel=“stylesheet” href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel='stylesheet' href='/stylesheets/main.css' />

</head>

<body>
    <header id="header">

        <nav id="left-nav">
            <ul>
                <li><a href="/current">Current</a></li>
                <li><a href="/log">Ins/Outs</a></li>
            </ul>
        </nav>

        <div id="logo-container">
            <a href="../">MedStock</a> <a href="/"><img src="/images/logo.svg" alt=""></a> <a href="/">Manager</a>
        </div>

        <nav id="right-nav">
            <ul>
                <li><a href="/order">Order</a></li>
                <li>
                    <a href="" id="druginfo-nav">Drug Search</a>
                    <form action="/druginfo" method="GET" id="druginfo-searchform">
                        <input type="search" name="database-q" id="druginfo-searchbar" placeholder="Search database">
                    </form>
                </li>
            </ul>
        </nav>

    </header>

    <script>
        const drugInfoNav = document.getElementById('druginfo-nav');
        const drugInfoSearchForm = document.getElementById('druginfo-searchform');
        const drugInfoSearchBar = document.getElementById('druginfo-searchbar');
        const header = document.getElementById('header');
        let headerSearchIsOpen = false;
    
        document.addEventListener('DOMContentLoaded', function() {
            drugInfoNav.addEventListener('click', function(event) {
                event.preventDefault();
                event.stopPropagation();
                toggleHeaderSearch();
            });

            header.addEventListener('click', function (event) {
                if (headerSearchIsOpen) {
                    toggleHeaderSearch();
                }
            });
        });


        function toggleHeaderSearch() {
        if (!headerSearchIsOpen) {
            drugInfoNav.style.opacity = '0';
                setTimeout(() => {
                    drugInfoNav.style.display = 'none';
                    drugInfoSearchForm.style.display = 'inline';
                    drugInfoSearchBar.style.display = 'inline';
                    setTimeout(() => {
                        drugInfoSearchForm.style.opacity = '1';
                        drugInfoSearchBar.style.opacity = '1';
                        drugInfoSearchBar.focus();
                    }, 50);
                }, 400);
            headerSearchIsOpen = true;
        } else {
            drugInfoSearchBar.style.opacity = '0';
            drugInfoSearchForm.style.opacity = '0';
                setTimeout(() => {
                    drugInfoSearchForm.style.display = 'none';
                    drugInfoSearchBar.style.display = 'none';
                    drugInfoNav.style.display = 'inline';
                    setTimeout(() => {
                        drugInfoNav.style.opacity = '1';
                    }, 50);
                }, 400);
            headerSearchIsOpen = false;
        }
    }
    
    </script>

    <main>