<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel=“stylesheet” href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel='stylesheet' href='/stylesheets/main.css' />
</head>

<body>
    <header>

        <nav id="left-nav">
            <ul>
                <li><a href="/current">Current</a></li>
                <li><a href="/log">Ins/Outs</a></li>
            </ul>
        </nav>

        <div id="logo-container">
            <a href="../">MedStock</a> <a href="/"><img src="/images/logo.svg" alt=""></a> <a href="/">Manager</a>
        </div>

        <nav id="right-nav">
            <ul>
                <li><a href="">Order</a></li>
                <li><a href="">Drug Info</a></li>
            </ul>
        </nav>

    </header>

    <main>