<section id="subheader">
    <div id="page-title-container">
        <h1><%= title %></h1>
    </div>
    <div id="btns-row-container">
        <button id="search-btn">
            &#9906;
        </button>
        <button id="quickref-filter-btn">
            <img src="../../public/images/star.svg" alt="">
        </button>
        <button class="add-btn" id="add-btn-subheader">
            +
        </button>
        <button class="deplete-btn" id="deplete-btn-subheader">
            -
        </button>
    </div>
</section>