<section id="subheader">
    <div id="page-title-container">
        <h1><%= title %></h1>
    </div>
    <div id="btns-row-container">
        <div id="search-container">
            <form action="/search" method="get">
                <input id="search-input" type="search" name="search" placeholder="Search">
                <button class="round-btn" id="search-btn"><span id="mglass">&#9906;</span></label>
            </form>
        </div>
        <button class="round-btn star-toggle">
            <img src="/images/star-outline.svg" alt="" id="star-btn-subheader">
        </button>
        <button class="round-btn" id="add-btn-subheader">
            +
        </button>
        <button class="round-btn" id="deplete-btn-subheader">
            
        </button>
    </div>
</section>