<section id="subheader">
    <div id="page-title-container">
        <h1>
            <%= title %>
        </h1>
    </div>
    <div id="btns-row-container">
        <div id="search-container">
            <form action="/search" method="get">
                <input id="search-input" type="search" name="search" placeholder="Search">
            </form>
            <div id="mglass">&#9906;</div>
        </div>
        <button class="round-btn" id="add-btn-subheader">
            +
        </button>
    </div>
</section>

<script>
    // Constants
    let searchIsOpen = false;
    const subheader = document.getElementById('subheader');
    const searchInput = document.getElementById('search-input');
    const searchBtn = document.getElementById('search-container');
    const mglass = document.getElementById('mglass');

    // Event listeners
    mglass.addEventListener('click', function (event) {
        event.stopPropagation();
        if (searchIsOpen) {
            searchInput.form.submit();
        } else {
            toggleSearch();
        }
    });

    searchBtn.addEventListener('click', function (event) {
        event.stopPropagation();
        toggleSearch();
        
    });

    searchInput.addEventListener('click', function (event) {
        event.stopPropagation();
    });

    subheader.addEventListener('click', function (event) {
        if (searchIsOpen) {
            toggleSearch();
        }
    });

    // Functions
    function toggleSearch() {
        if (!searchIsOpen) {
            searchBtn.classList.add('search-open');
            searchInput.style.display = 'inline-block';
            searchInput.style.opacity = '1';
            searchInput.focus();
            searchIsOpen = true;
        } else {
            searchBtn.classList.remove('search-open');
            searchInput.style.display = 'none';
            searchInput.style.opacity = '0';
            searchIsOpen = false;
        }
    }

</script>