button:hover {
    cursor: pointer;
}

.round-btn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.5);
    background-color: var(--white);
    font-size: 30px;
    transition: all 0.2s ease;
}

.round-btn:hover {
    background-color: var(--accent);
}

.round-btn:active {
    box-shadow: none;
}

#deplete-btn-subheader {
    position: relative;
}

#deplete-btn-subheader::before {
    content: '-';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-47%, -55%);
    font-size: 40px;
}

.stock-btn {
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.5);
    background-color: var(--white);
    font-size: 18px;
    transition: all 0.2s ease;
}

.stock-btn:hover {
    background-color: var(--starfill);
}

.stock-btn:active {
    box-shadow: none;
    background-color: var(--white);
}

#add-stock-item-btn {
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.5);
    background-color: var(--white);
    padding: 10px;
    color: grey;
    font-style: italic;
    transition: all 0.2s ease;
}

#add-stock-item-btn:hover {
    background-color: var(--accent);
    color: var(--darkmain);
}

#add-stock-item-btn:active {
    box-shadow: none;
}

#quick-delete-btn,
#item-edit-btn,
#item-delete-btn {
    border: none;
    background-color: transparent;
    color: var(--darkmain);
    font-weight: 600;
    transition: color 0.2s ease;
}

#quick-delete-btn:hover {
    color: var(--white);
}

#item-edit-btn:hover,
#item-delete-btn:hover {
    color: var(--starfill);
}

#login-btn {
    width: 32vmin;
    background-color: var(--darkmain);
    border: none;
    border-radius: 2vmin;
    padding: 4vmin;
    color: var(--white);
    font-size: 4vmin;
    font-weight: 900;
    transition: all 0.2s ease;
    margin: 7vh 0 1vh;
}

#login-btn:hover {
    background-color: var(--accent);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    color: var(--darkmain);
}

#login-btn:active{
    background-color: var(--white);
    box-shadow: none;
    color: var(--darkmain);
}

#form-submit-btn {
    width: 16vmin;
    background-color: var(--darkmain);
    border: none;
    border-radius: 1vmin;
    padding: 1.5vmin;
    color: var(--white);
    font-size: 2.5vmin;
    font-weight: 600;
    transition: all 0.2s ease;
}

#form-submit-btn:hover {
    background-color: var(--accent);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    color: var(--darkmain);
}

#form-submit-btn:active{
    background-color: white;
    box-shadow: none;
    color: var(--darkmain);
}
