#search-container {
    display: flex;
    justify-content: flex-end;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.5);
    background-color: var(--white);
    font-size: 30px;
    transition: all 0.2s ease;
}

#search-container:hover {
    background-color: var(--accent);
    cursor: pointer;
}

#search-container:active {
    box-shadow: none;
}

#search-container.search-open {
    width: 300px;
    border-radius: 10px;
    background-color: var(--accent);
}

#search-input {
    display: none;
    opacity: 0;
    width: 250px;
    transform: translate(-20px, -3px);
    border: 1px solid var(--lightgrey);
    border-radius: 5px;
    padding: 5px;
    transition: all 1s ease;
}

#mglass {
    transform: rotate(-45deg) translate(-10px, -6px);
}