.c1 {
    background-color: var(--1);
}

.c2 {
    background-color: var(--2);
}

.c3 {
    background-color: var(--3);
}

.c4 {
    background-color: var(--4);
}

.c5 {
    background-color: var(--5);
}

.c6 {
    background-color: var(--6);
}

.c7 {
    background-color: var(--7);
}

.c8 {
    background-color: var(--8);
}

.c9 {
    background-color: var(--9);
}

.c10 {
    background-color: var(--10);
}

.c11 {
    background-color: var(--11);
}

.c12 {
    background-color: var(--12);
}

.c13 {
    background-color: var(--13);
}

