// Font Families
$main: 'M PLUS Rounded 1c', sans-serif;

// JavaScript-accessible color palette
:root {
    // Theme colors
    --logocolor: rgb(21, 76, 93);
    --lightmain: rgb(108, 201, 225);
    --main: rgb(17,178,219);
    --darkmain: rgb(25,84,101);
    --accent: rgb(243,200,88);
    --starfill: rgb(243, 220, 88);
    --alert: rgb(225,83,70);
    --white: rgb(242, 246, 248);
    --lightgrey: rgb(228,236,241);
    --grey: grey;
    --darkgrey: rgb(55,56,53);
    --black: rgb(24,52,59);

    // Meditem Family colors
    --1: #ff6961;
    --2: #f69552;
    --3: #ffd347;
    --4: #b2cc00;
    --5: #4fd377;
    --6: #1cc38c;
    --7: #00bbd4;
    --8: #448aff;
    --9: #5a7ad3;
    --10: #966fd6;
    --11: #c173ff;
    --12: #f984e5;
    --13: grey;
  }