// Color Palette
$off-black: #06142e;
$dark1: #1b3358;
$light1: #86a8cf;
$dark2: #473e66;
$light2: #bd83b8;
$off-white: #fff3f4;
$white: rgb(250, 245, 245);
$alert: #f1916D;

$analgesics: #e76f51;
$corticosteroids: #264653;
$antihistimines: #f4a261;
$antiobiotics: #e9c46a;
$vaccines: #2a9d8f;
$iv-fluids: #b8d8e3;
$lab: #287271;
$consumables: #9db0ce;

$dark-fade: #ff8473;
$light-fade: #fff9d2;


// JavaScript-accessible colors
:root {
    --light2: #bd83b8;
    --white: rgb(250, 245, 245);
  }

// Font Families
$main: 'M PLUS Rounded 1c', sans-serif;

