<%- include('../partials/header') %>

    <form action="/current" method="POST">
        <input type="text" name="brandName" placeholder="Brand Name">
        <input type="text" name="genericName" placeholder="Generic Name">
        <select name="family" placeholder="Item Family">
            <option value="" disabled selected hidden>Item Family</option>
            <% families.forEach((family)=> { %>
                <option value="<%= family %>">
                    <%= family %>
                </option>
                <% }); %>
        </select>
        <input type="text" name="dose" placeholder="Dose (e.g., 200mg)">
        <input type="text" name="form" placeholder="Formulation (tab, cap, cream, etc.)">
        1 unit = <input type="text" name="perUnit" placeholder="e.g., 1 tablet">
        <input type="number" name="parLevel" placeholder="min. no. of units">
        <textarea name="notes" rows="10" cols="50">Notes...</textarea>
        <button type="submit">Add Item</button>
    </form>

    <%- include('../partials/footer') %>