<%- include('../partials/header') %>

    <form action="/current" method="POST">
        <img src="/images/star-outline.svg" alt="" class="star-toggle" id="star">
        <input type="hidden" id="quickref" name="quickref" value="false">
        <input type="text" name="brandName" placeholder="Brand Name" required>
        <input type="text" name="genericName" placeholder="Generic Name">
        <select name="family" placeholder="Item Family" required>
            <option value="" disabled selected hidden>Item Family</option>
            <% families.forEach((family)=> { %>
                <option value="<%= family %>">
                    <%= family %>
                </option>
                <% }); %>
        </select>
        <input type="text" name="dose" placeholder="Dose (e.g., 200mg)">
        <input type="text" name="form" placeholder="Formulation (tab, cap, cream, etc.)">
        1 unit = <input type="text" name="perUnit" placeholder="e.g., 1 tablet">
        <input type="number" name="parLevel" placeholder="min. no. of units">
        <textarea name="notes" rows="10" cols="50">Notes...</textarea>
        <button type="submit">Add Item</button>
    </form>

    <script>

        document.getElementById('star').addEventListener('click', function () {
                let isFilled = this.src.includes('star-filled.svg');
                document.getElementById('quickref').value = isFilled;

                this.src = isFilled ? '/images/star-outline.svg' : '/images/star-filled.svg';
            });



    </script>

    <%- include('../partials/footer') %>