<%- include('../partials/header') %>

<section id="overlay" style="display: flex; opacity: 1;">

<div id="overlay-top-container">
    <div id="family-container">
        Add Item
    </div>
    <div id="close-container">
        <p id="close-text">Cancel [X]</p>
    </div>
</div>

<div id="form-container">

    <form action="/current" method="POST" id="add-meditem-form">
        <div id="form-quickref-container">
            <input type="checkbox" id="quickref" name="quickref" value="false"> <label for="quickref">Quick Reference</label>
        </div>

        <div id="form-namefamily-container">
            <input type="text" name="genericName" placeholder="Generic Name" required>
            <select name="family" required>
                <option value="" disabled selected hidden>Item Family</option>
                <% families.forEach((family)=> { %>
                    <option value="<%= family %>">
                        <%= family %>
                    </option>
                    <% }); %>
            </select>
        </div>

        <div id="form-doseform-container">
            <input type="text" name="dose" placeholder="Dose (e.g., 200mg)">
            <input type="text" name="form" placeholder="Formulation (tab, cap, cream, etc.)">
        </div>

        <div id="form-unit-container">
            <div id="form-units"><label>1 unit = </label><input type="text" name="perUnit" placeholder="e.g., 1 tablet"></div>
            <div id="form-par"><label>par level: </label><input type="number" name="parLevel" placeholder="min. no. of units"></div>
        </div>

        <div id="form-notes-container">
            <textarea name="notes" rows="10" cols="50">Notes...</textarea>
        </div>

        <div id="form-submitbtn-container">
            <button type="submit" id="form-submit-btn">Add Item</button>
        </div>

    </form>
</div>

</section> 

<%- include('../partials/footer') %>

    <!-- <script>

        document.getElementById('star').addEventListener('click', function () {
                let isFilled = this.src.includes('star-filled.svg');
                document.getElementById('quickref').value = isFilled;

                this.src = isFilled ? '/images/star-outline.svg' : '/images/star-filled.svg';
            });



    </script> -->
