// SEARCH FORM

#druginfo-body {
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to bottom, var(--lightmain), var(--main));
    display: flex;
    justify-content: center;
    align-items: center;
}

#druginfo-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#druginfo-form-container {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
}

#druginfo-main h1 {
    font-size: 4vmin;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--white);
}

#druginfo-searchbar {
    background-color: var(--white);
    border: 1px solid var(--lightgrey);
    border-radius: 10px;
    width: 100%;
    height: 50px;
    font-size: 3vmin;
    padding-left: 10px;
    color: var(--darkgrey);
}

#druginfo-btn {
    width: 24vmin;
    background-color: var(--darkmain);
    border: none;
    border-radius: 2vmin;
    padding: 2vmin;
    color: var(--white);
    font-size: 3vmin;
    font-weight: 900;
    transition: all 0.2s ease;
}

#druginfo-btn:hover {
    background-image: none;
    background-color: var(--accent);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    color: var(--darkmain);
}

#druginfo-btn:active{
    background-color: var(--white);
    box-shadow: none;
    color: var(--darkmain);
}

// SEARCH RESULTS

#error-container {
    margin-top: 100px;
}

#druginfo-header {
    margin-top: 100px;
    background-image: linear-gradient(to top right, lightgrey, var(--lightgrey));
    border-radius: 10px;
    padding: 1px 20px;
    margin-bottom: 20px;
}

#druginfo-header p {
    font-size: 1.75vmin;
}

#druginfo {
    padding: 0 20px 50px;
}

#druginfo h1 {
    font-size: 6vmin;
    background-image: linear-gradient(to bottom right, var(--accent), var(--starfill));
    margin: 20px -20px 0;
    padding: 0px 20px;
    border-radius: 5px;
}

#druginfo h2 {
    margin: 0;
}

#anchor-nav {
    background-color: var(--lightgrey);
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px -20px 0;
}

#anchor-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#anchor-nav a {
    display: inline-block;
    position: relative;
}

#anchor-nav a:hover {
    color: var(--darkmain);
}

#anchor-nav a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: var(--darkmain);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

#anchor-nav a:hover:after {
    width: 100%;
    left: 0;
}

.scroll-anchor {
    display: inline-block;
    margin-top: -100px;
    padding-top: 100px;
}