#druginfo-header {
    margin-top: 100px;
}

#druginfo-header p {
    font-size: 1.75vmin;
}

#druginfo {
    padding: 0 20px;
}

#druginfo h1 {
    font-size: 6vmin;
    background-color: var(--accent);
    margin: 20px -20px 0;
    padding: 0px 20px;
}