#druginfo-header {
    margin-top: 100px;
    background-image: linear-gradient(to top right, lightgrey, var(--lightgrey));
    border-radius: 10px;
    padding: 1px 20px;
    margin-bottom: 20px;
}

#druginfo-header p {
    font-size: 1.75vmin;
}

#druginfo {
    padding: 0 20px 50px;
}

#druginfo h1 {
    font-size: 6vmin;
    // background-color: var(--accent);
    background-image: linear-gradient(to bottom right, var(--accent), var(--starfill));
    margin: 20px -20px 0;
    padding: 0px 20px;
    border-radius: 5px;
}