header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to right, var(--main), var(--lightmain) 50%, var(--main));
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin: 3vw;
}

#logo-container a {
    font-size: 40px;
    font-weight: 800;
    color: var(--darkmain);
}

#logo-container a img {
    height: 70px;
    width: 70px;
    transform: translate(0, 5px);
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    font-weight: 400;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

#left-nav ul {
    justify-content: flex-end;
}

#right-nav ul {
    justify-content: flex-start;
}

nav ul li a {
    margin: 2.5vw;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.2s ease;
    font-weight: 400;
}

nav ul li a:hover {
    color: var(--darkmain);
    background-color: var(--accent);
}

nav ul li a:active {
    background-color: var(--white);
    color: var(--darkmain);
}

