#landing-body {
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to bottom, var(--lightmain), var(--main));
    display: flex;
    justify-content: center;
    align-items: center;
}

#landing-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "logo-area login-area";
    align-items: center;
}

#landing-logo-area {
    grid-area: logo-area;
    display: flex;
    justify-content: flex-start;
    gap: 1vw;
}

#landing-logo-container {
    align-self: center;
    justify-content: center;
}

#landing-logo {
    height: 33vmin;
}

#landing-title {
    width: 50%;
    align-self: center;
    font-size: 8vmin;
    font-weight: 900;
    color: var(--logocolor);
}

#landing-login-area {
    grid-area: login-area;
    display: flex;
    flex-direction: column;
    align-items: center;
    // text-align: center;
}

#login-btn {
    width: 32vmin;
    background-color: var(--darkmain);
    border: none;
    border-radius: 2vmin;
    padding: 4vmin;
    color: var(--white);
    font-size: 4vmin;
    font-weight: 900;
    transition: all 0.2s ease;
    margin: 7vh 0 1vh;
}

#login-btn:hover {
    background-image: none;
    background-color: var(--accent);
    color: var(--darkmain);
}

#login-btn:active{
    background-color: var(--white);
    color: var(--darkmain);
}

#landing-footer {
    box-shadow: none;
    background-color: transparent;
}