#subheader {
    position: relative;
    margin-top: 80px;
    padding-right: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-title-container {
    font-size: 20px;
    font-weight: 500;
    color: $dark2;
}

#btns-row-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#btns-row-container button {
    margin-left: 5px;
}

#mglass {
    display: inline-block;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}