table {
    width: 100%;
    font-weight: 300;
    background-color: var(--white);
    border-collapse: collapse;
}

th,
td {
    vertical-align: middle;
    text-align: center;
    padding: 5px;
}

td {
    border: 1px solid var(--darkmain);
}

th {
    background-color: var(--darkmain);
    color: var(--white);
    border-radius: 5px 5px 0 0;
    border-right: 2px solid var(--white);
}

th:first-child {
    border-left: 2px solid var(--darkmain);
    border-radius: 0 5px 0 0;
}

th:last-child {
    border-right: 2px solid var(--darkmain);
    border-radius: 5px 0 0 0;
}

tr:hover {
    background-color: var(--lightgrey);
}

td a:hover { 
    color: var(--white);
}

.warning-stock {
    background-color: var(--accent) !important;
}

.alert-stock {
    background-color: var(--alert) !important;
}

.expired-stock {
    text-decoration: line-through;
    color: grey !important;
}

// CURRENT STOCK TABLE

#current-stock-table tr td:nth-child(2),
#current-stock-table td:nth-child(3),
#current-stock-table th:nth-child(2),
#current-stock-table th:nth-child(3) {
    text-align: left;
    padding-left: 10px;
}

#current-stock-table tbody tr:hover {
    cursor: pointer;
}

#current-stock-table tbody td:nth-child(2),
#current-stock-table tbody td:last-child {
    font-weight: 500;
}

#filter-icon {
    margin: 0px 5px;
    transform: translate(0%, 15%);
    height: 17px;
    width: 17px;
}

#filter-icon:hover {
    cursor: pointer;
}

.family-header td {
    text-transform: uppercase;
    text-align: left;
    padding-left: 10px;
    font-size: 2.5vmin;
}

// INOUT TABLE

#inout-table tr td:nth-child(2),
#inout-table td:nth-child(3),
#inout-table th:nth-child(2),
#inout-table th:nth-child(3) {
    text-align: left;
    padding-left: 10px;
}

#inout-table tbody tr:hover {
    cursor: pointer;
}

#inout-table tr td:nth-child(5) {
    color: var(--6);
    font-weight: 600;
}

#inout-table tr td:nth-child(6) {
    color: var(--1);
    font-weight: 600;
}

// ORDER TABLE

#order-table td:nth-child(1),
#order-table td:nth-child(2),
#order-table th:nth-child(1),
#order-table th:nth-child(2) {
    text-align: left;
    padding-left: 10px;
}

#order-table td:last-child {
    font-weight: 600;
}

// OVERLAY TABLE

#stock-form {
    display: flex;
    justify-content: center;
    width: 100%;
}

#overlay-table {
    width: 90%;
}

#overlay-table tr:last-child {
    font-weight: 600;
}

#overlay-table tr:last-child:hover {
    background-color: transparent; 
}

#overlay-table tr:last-child td:nth-child(1),
#overlay-table tr:last-child td:nth-child(2) {
    border: none;
}

// #overlay-table tr:hover td:nth-child(4),
// #overlay-table tr:hover td:nth-child(5),
// #overlay-table tr:hover td:nth-child(6) {
//     background-color: transparent;
// }

#overlay-table tr:hover {
    background-color: transparent;
}

#overlay-table td:nth-child(4) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 15px;
}

#overlay-table tr:nth-last-child(2) {
    background-color: white;
}

#overlay-table tr:nth-last-child(2) td:last-child,
#overlay-table th:last-child {
    background-color: var(--white);
    // text-align: left;
}

// #overlay-table tr:nth-last-child(2) td:nth-child(4) {
//     border: none;
// }

#overlay-table td:nth-child(4) {
    border: none;
}

#overlay-table tr:last-child td:nth-child(3) {
    background-color: var(--darkmain);
    color: var(--white);
}

#overlay-table td input {
    border: none;
    text-align: center;
}

#overlay-table th:last-child {
    border-right: none;
}

#overlay-table th:nth-child(3) {
    border-right: 2px solid var(--darkmain);
    border-radius: 5px 0 0 0;
}

#nothing-in-stock {
    font-weight: 500;
    background-color: var(--alert);
}