table {
    width: 100%;
    font-weight: 300;
    background-color: var(--white);
}

th,
td {
    vertical-align: middle;
    text-align: center;
    padding: 5px;
}

th {
    border: none;
}

td {
    border: 1px solid var(--darkmain);
}

th {
    background-color: var(--darkmain);
    color: var(--white);
    border-radius: 5px 5px 0 0;
}

tr:hover {
    background-color: var(--accent);
}

#current-stock-table tr td:nth-child(2),
#current-stock-table td:nth-child(3),
#current-stock-table th:nth-child(2),
#current-stock-table th:nth-child(3) {
    text-align: left;
    padding-left: 10px;
}