* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: radial-gradient(white, var(--lightgrey));
  height: 100vh;
  margin: 25px;
  padding: 0;
}

input:focus {
  outline: 1px solid var(--main);
}