body {
    font-family: $main;
    color: var(--black);
}

a {
    color: var(--darkmain);
    text-decoration: none;
    transition: color 0.2s ease;
    font-weight: 600;
}

a:hover {
    color: var(--starfill);
}