@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");
:root {
  --main: rgb(17,178,219);
  --darkmain: rgb(25,84,101);
  --accent: rgb(243,200,88);
  --starfill: rgb(243, 220, 88);
  --alert: rgb(225,83,70);
  --white: rgb(230, 250, 255);
  --lightgrey: rgb(228,236,241);
  --darkgrey: rgb(55,56,53);
  --black: rgb(24,52,59);
  --1: #ff6961;
  --2: #f69552;
  --3: #ffd347;
  --4: #b2cc00;
  --5: #4fd377;
  --6: #1cc38c;
  --7: #00bbd4;
  --8: #448aff;
  --9: #5a7ad3;
  --10: #966fd6;
  --11: #c173ff;
  --12: #f984e5;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  margin: 25px;
  padding: 0;
}

input:focus {
  outline: 1px solid var(--main);
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: var(--black);
}

a {
  color: var(--darkmain);
  text-decoration: none;
  transition: color 0.2s ease;
  font-weight: 500;
}

a:hover {
  color: var(--white);
}

.star-toggle {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#star-btn-subheader {
  height: 27px;
  width: 27px;
  transform: translate(0, 2px);
}

#star-table {
  height: 20px;
  width: 20px;
  transform: translate(0, 2px);
}

button:hover {
  cursor: pointer;
}

.round-btn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.5);
  background-color: var(--white);
  font-size: 30px;
  transition: all 0.2s ease;
}

.round-btn:hover {
  background-color: var(--accent);
}

.round-btn:active {
  box-shadow: none;
}

#deplete-btn-subheader {
  position: relative;
}

#deplete-btn-subheader::before {
  content: "-";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-47%, -55%);
  font-size: 40px;
}

#search-container {
  display: flex;
  justify-content: flex-end;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.5);
  background-color: var(--white);
  font-size: 30px;
  transition: all 0.2s ease;
}

#search-container:hover {
  background-color: var(--accent);
  cursor: pointer;
}

#search-container:active {
  box-shadow: none;
}

#search-input {
  display: none;
  opacity: 0;
  width: 250px;
  transform: translate(-20px, -3px);
  z-index: 100;
  border: 1px solid var(--lightgrey);
  border-radius: 5px;
  padding: 5px;
  transition: all 1s ease;
}

#mglass {
  transform: rotate(-45deg) translate(-10px, -6px);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  background-color: var(--main);
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  margin: 3vw;
}

#logo-container a {
  font-size: 40px;
  font-weight: 800;
  color: var(--darkmain);
}

#logo-container a img {
  height: 70px;
  width: 70px;
  transform: translate(0, 5px);
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  font-weight: 400;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#left-nav ul {
  justify-content: flex-end;
}

#right-nav ul {
  justify-content: flex-start;
}

nav ul li a {
  margin: 2.5vw;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.2s ease;
  font-weight: 400;
}

nav ul li a:hover {
  color: var(--darkmain);
  background-color: var(--accent);
}

nav ul li a:active {
  background-color: var(--white);
  color: var(--darkmain);
}

#subheader {
  position: relative;
  margin-top: 80px;
  padding-right: 50px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-title-container {
  font-size: 20px;
  font-weight: 500;
  color: var(--darkmain);
}

#btns-row-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#btns-row-container button {
  margin-left: 8px;
}

#stock-card-overlay {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 10;
  width: 33%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.5);
  background-color: var(--white);
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 100%;
  font-weight: 300;
  background-color: var(--white);
}

th,
td {
  vertical-align: middle;
  text-align: center;
  padding: 5px;
}

th {
  border: none;
}

td {
  border: 1px solid var(--darkmain);
}

th {
  background-color: var(--darkmain);
  color: var(--white);
  border-radius: 5px 5px 0 0;
}

tr:hover {
  background-color: var(--accent);
}

#current-stock-table tr td:nth-child(2),
#current-stock-table td:nth-child(3),
#current-stock-table th:nth-child(2),
#current-stock-table th:nth-child(3) {
  text-align: left;
  padding-left: 10px;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". copyright user-options";
  box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.5);
  background-color: var(--main);
  padding: 15px;
  align-items: center;
  text-align: center;
  font-size: 11px;
  color: var(--black);
}

#copyright {
  grid-area: copyright;
}

#user-options {
  grid-area: user-options;
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

#user-options a {
  margin-left: 2vw;
}